name: docker-ci-pipeline

on: push

jobs:
  dockerci-job:

    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6

      - name: Build image
        run: docker build -t ${{ vars.DOCKER_USERNAME }}/naga_docker_image:v1 .
        
      - name: verify image
        run: docker images

      - name: create container
        run: docker run --name pythonapp -itd -p 8080:8080 ${{ vars.DOCKER_USERNAME }}/naga_docker_image:v1

      - name: sleep 20
        run: sleep 20

      - name: view containter
        run: docker ps

      - name: check output
        run: curl -f http://localhost:8080

      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: push image
        run: docker push ${{ vars.DOCKER_USERNAME }}/naga_docker_image:v1 

      - name: container cleanup
        run: docker rm -f pythonapp

        

          
   

        
        
 
 
